.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    color: black;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color:black;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    color: #4CAF50;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .login-btn, .signup-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-btn {
    background-color: green;
    color: white;
  }
  
  .signup-btn {
    background-color: #f44336;
    color: white;
  }
  
  .login-btn:hover, .signup-btn:hover {
    opacity: 0.8;
  }