.loginstyling {
    background-image: url("/public/stylish-windows-11-login-xyd314txkkfiikf3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

}
